
        body { 
            font-family: Arial, sans-serif; 
            background: #181818; 
            color: #eee; 
            margin: 0; 
            padding: 0; 
        }
        
        header {
            background: #222;
            padding: 1em;
            text-align: center;
        }
        main {
            max-width: 700px;
            margin: 2em auto;
            background: #222;
            padding: 2em;
            border-radius: 8px;
            box-shadow: 0 2px 8px #0006;
        }

        h2{
            color: #000000;
            margin-top: 144px;
        }
        /*how did we get here*/
        /*save me*/
        /*im begging you*/
        /*please.*/


        /*2003, Feb 9th 11:55am*/

        /* @Dufs2470277195*/

        /* Dufs: If you're reading this, please know that you are valued and important.
        Your presence makes a difference in the world. If you're struggling, reach out to someone you trust.*/
        /* You're not alone, and there are people who care about you. Take care of yourself. */

        /*2003, Feb 12th 9:23pm*/
        
        /*@D̹̦̺͖͊̃̀ͭ̆ͣ́̽u̡̘_̴̵̧̨̯͓͈͉̤̭̰̥͉̤̻͙͕͓͋̈́̇͐́̀ͥ́̐̈́̍ͤ̇͊̈́ͦ̽̕̕̚̕f̵̶̛̫͈̩ͧ̓͋̈́͋́ṣ̮̣̝̣̒̀ͩ͝ͅ2̡͖̲̦̣̥̳̒ͮ̓̂ͬ͑̇̈́̾͂ͩ4̡̛̜̣̆̐̑̽̍͐̓̚7̶̵̢̘̫̥͔̤̳̦̉̾͊ͯͪ̅͐̀͑͆̕͘͡ͅ_̶̵̡̮̦̳͇̥͉͊́̎ͮͯͫ̎̈́͢͢0̸̧̩͇͓̬̫͎͈̭̽͛̐͌͗ͬ̃̋͐̋͂͛̚2̵̩̓ͨ͂7̶̨̢̢̡̡͓̘̘̤͇͔͚̬͙̗͉͓̺̱̪̅͗̈ͦ͌̇́͌ͦ̓͌͛̚͜7̟̂1̛̹̞͓̰̟͓̼͊̏̒ͩ̔̒͑ͤ̊ͨ͘_̘̫ͯͤͭ̎ͬ9̶̡̠͓͇̪̲̱͚̙̰̺ͣ͌͊̚͢5̴̨̩͖̤̠̟̩͖̟͉̥̬̏̏̍ͧͥ̋̐͛͞͠*/

        
        /*die.*/
        


        
        
        